body {
  background-color: #e5eff1;
}

.container-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gitHub {
  margin: 1% 0 2% 0;
}

.load img {
  width: 300px;
  height: 300px;
}

.load-off {
  display: none;
}

.subtitle {
  display: none;
  margin-bottom: -1%;
}

.showSubTitle {
  display: flex;
}