body {
  background-color: #e5eff1;
}

.container-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gitHub {
  margin: 3% 0 3% 0;
}

.load img {
  width: 300px;
  height: 300px;
}

.load-off {
  display: none;
}

.notification {
  display: none;
  margin-bottom: -1%;
}

.showNotification {
  display: flex;
}